body{
    height: 100vh;
    width: 100%;  
    background: red;  
    margin: 0;
    padding: 0;
}

.first {
    display: inline-block;
    width: 100%;
    background: rgb(196, 193, 193);
    height: 15%
}

.small-blue-box {
    height: 80%;
    width: 10%;
    background: rgb(80, 130, 236);
    margin-top: 14px;
    margin-left: 20px;
}

.second {
    display: inline-block;
    width: 100%;
    background: white;
    height: 30%;
    margin: -4px 0px;
    
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.third {
    display: inline-block;
    width: 100%;
    background: rgb(81, 134, 214);
    height: 15%;
    margin: -4px 0px;
}

.fourth {
    display: inline-block;
    width: 100%;
    background: rgb(76, 201, 184);
    height: 14%;
    margin: -4px 0px;
}

.fifth {
    display: inline-block;
    width: 100%;
    background: rgb(175, 228, 90);
    height: 14%;
    margin: -4px 0px;
}

.sixth {
    display: inline-block;
    width: 100%;
    background: rgb(250, 234, 4);
    height: 15%;
    margin: -4px 0px;
}